---
import Title from "../components/texts/Title.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Perfil">
    <main>
        <Title>OJarrisonn_</Title>
    </main>
</Layout>
